<!DOCTYPE html>
<html>
<head>
<title>Herbeatapp - Reset your password</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../css/signin.css" rel="stylesheet">
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="login-form-container">
<form class="form-signin" id="signin-form">
<h3>HerbeatApp</h3>
<hr>
<h5>Enter your new password below</h5>
<label for="password">Password *</label>
<input type="password" id="password" name="password" class="form-control" placeholder="" required autofocus>
<label for="confirmPassword">Confirm Password *</label>
<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="" required>
<button class="btn btn-lg btn-primary btn-block" id="resetpassword">Reset Password</button>
</form>
</div>
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function(){
        $("#form-signin").submit(function(e){
            return false;
        });
        
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('=');
        const token = sURLVariables[1];

        
        $('#resetpassword').on('click', function(){
            const password = $('#password').val();
            const confirmpassword = $('#confirmPassword').val();
            $.ajax({
                url: '/auth/new_password',
                method: 'POST',
                data: {password: password, confirmPassword: confirmpassword, token: token}
            }).done(function(data, err){
                alert('Password changed successfully');
                document.location.href = '/auth/login';
            }).fail(function(data, err){
                var msg = "";
                var i = 1;
                var errors = JSON.parse(data.responseText);
                console.log(errors);
                for (var i = 0; i< errors.length; i++)
                {
                    var j = i+1;
                    msg = msg + + j +"." + errors[i].msg;

                }
                alert(msg);
            });
            
        });
        
    });
</script>